body {
  background-color: #b39bdd;
}

#calc {
  background-color: #0e7da5;
  border: solid #0a6284;
  text-align: center;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  color: #c3e6f4;
  font-family: "Times New Roman", Times, serif;
}

#table td {
  border: 3px solid #0a0a0a;
  border-spacing: 0;
  margin: 0;
  padding: 0px;
}

#thetext {
  font-size: large;
  font-style: bold;
}
div {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-size: normal;
  position: absolute;
  bottom: -0px;
  vertical-align: bottom;
}

